* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.github-profile-container {
    margin: 50px auto;
    inline-size: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchInput {
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border-inline-end: none;
    padding-inline-end: 50px;
    border: none;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    background: green;
    color: white;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    border: none;
}

.user {
    border-radius: 10px;
    padding: 10px;
    inline-size: 50%;
    block-size: 400px;
    margin-block-start: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar {
    inline-size: 200px;
    block-size: 200px;
    border-radius: 50%;
}

.userName a {
    text-decoration: none;
}

.publicRepo,
.following,
.followers {
    display: flex;
    justify-content: center;
    gap: 5px;
}